

<div class="col-md-6">
  <div class="row">
    <h2><%= @item.name %></h2>
    <iframe src="https://embed.spotify.com/?uri=<%= @item.uri %>&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  </div>
</div>

<div class="col-md-6 listening-session">

  <div class="row">
    <button class="btn btn-warning" id="create-listen" type="button" name="button">Open Listening Session</button>
  </div>

  <div id="session-box">

  </div> 

  <div id="user-id" style="display:none;" data-target='<%= @user.id %>'></div>
  <div id="item-id" style="display:none;" data-target='<%= @item.id %>'> </div>
  <div id="item-type" style="display:none;" data-target='<%= @item.type %>'> </div>
  <div id="item-name" style="display:none;" data-target='<%= @item.name %>'> </div>

</div>
