<div class="col-md-6">
  <div class="row">
    <h2><%= @item.name %></h2>
    <% if @item.type == "track" %>
      <h3>by <%= @item.artists.first["name"] %></h3>
    <% end %>
    <iframe src="https://embed.spotify.com/?uri=<%= @item.uri %>&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  </div>
</div>

<div class="col-md-6 listening-session">

  <div class="row">
    <button class="btn btn-warning" id="create-listen" type="button" name="button">Open Listening Session</button>
  </div>


  <form class="session">
    <div id="session-box" style="display:none;">
      <h3>Listening Session</h3>
      <h5 id="session-identifier"></h5>

      <div class="form-group">
        <label for='notes'>Notes</label>
        <textarea class='form-control' id='notesTextarea' rows='5'></textarea>
      </div>

      <label>Agitation Level Before</label>
      <select class="form-control-inline" id="agitation-before">
        <option></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select></br>

      <label>Agitation Level After</label>
      <select class="form-control-inline" id="agitation-after">
        <option></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select></br>

      <label>Awareness of Surroundings Before</label>
      <select class="form-control-inline" id="awareness-before">
        <option></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select></br>

      <label>Awareness of Surroundings After</label>
      <select class="form-control-inline" id="awareness-after">
        <option></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select></br>

      <label>Communicativeness Before</label>
      <select class="form-control-inline" id="communicativeness-before">
        <option></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select></br>

      <label>Communicativeness After</label>
      <select class="form-control-inline" id="communicativeness-after">
        <option></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select></br>

      <label>Duration of Session (min) </label>
      <select class="form-control-inline" id="duration">
        <option></option>
        <option>5</option>
        <option>15</option>
        <option>30</option>
        <option>45</option>
        <option>60</option>
        <option>90</option>
        <option>120</option>
      </select></br>

      <button class='btn btn-success' id='save-button'>Save</button>
      <button class='btn btn-danger' id='delete-button'>Cancel</button>
  </div>


    <div id="user-id" style="display:none;" data-target='<%= @user.id %>'></div>
    <div id="item-id" style="display:none;" data-target='<%= @item.id %>'> </div>
    <div id="item-type" style="display:none;" data-target='<%= @item.type %>'> </div>
    <div id="item-name" style="display:none;" data-target='<%= @item.name %>'> </div>
    <% if @item.owner %>
      <div id="playlist-owner-id" style="display:none;" data-target='<%= @item.owner["id"] %>'> </div>
    <% end %>

  </form>

<!-- SUGGESTIONS BASED ON ITEM IF ITEM = TRACK -->

<% if @item.type == "track"%>

  <div class="row">
    <button class='btn btn-primary' id='track-suggestions'>More Like This</button>
  </div>
    <div id="item-id" style="display:none;" data-target='<%= @item.id %>'></div>
    <div id="user-id" style="display:none;" data-target='<%= @user.id %>'></div>

    <table class="table suggestions" style="display:none;">
      <thead>
        <tr>
          <td>Track</td>
          <td>Artist</td>
          <td>Album</td>
        </tr>
      </thead>
      <tbody id="suggested-track-list">
        <!-- API results -->
      </tbody>

    </table>

<% end %>

</div>
