<div class="container suggestions-container">
  <h2>Find the Perfect Music</h2>
</div>

<div class="col-md-12">
  <div class="suggest genre row">
    <h3>Top Tracks by Genre</h3>

    <%= form_tag :suggestions, method: :get, class: "form-inline" do %>
              <div class="form-group">
                <%= select_tag :genre, options_for_select(@genres), :prompt => "Select Genre", class: "large-search" %>
                <%= submit_tag "GET!", class: "btn btn-success" %>
              </div>
            <% end %>
  </div>

    <% if @suggestions_from_genre %>
    <div class="genre-suggestions-header">
      <h3>Top <%= @genre %> Selections </h3>
    </div>
      <table class="table">
        <thead>
          <tr>
            <td>Track</td>
            <td>Artist</td>
            <td>Album</td>
            <td>Play It</td>
          </tr>
        </thead>
        <tbody>
        <% @suggestions_from_genre.each do |track| %>
        <tr>
          <td><%= track.name %></td>
          <td><%= track.artists.first["name"] %></td>
          <td><%= track.album["name"] %></td>
          <td><iframe src="https://embed.spotify.com/?uri=<%= track.uri %>&theme=white" width="250" height="80" frameborder="0" allowtransparency="true"></iframe></td>
        </tr>
        <% end %>
      </tbody>

      </table>
    <% end %>


    <div class="suggest decade row">
      <h3>Search for Playlists by Decade</h3>
      <%= form_tag :suggestions, method: :get, class: "form-inline" do %>
            <div class="form-group">
                <%= select_tag :decade, options_for_select(@decades), :prompt => "Select Decade", class: "large-search" %>
                <%= submit_tag "GET!", class: "btn btn-success" %>
            </div>
      <% end %>
    </div>

    <% if @suggestions_from_decade %>
    <div class="decade-suggestions-header">
      <h3> <%= @decade %> Playlists </h3>
    </div>
      <table class="table">
        <thead>
          <tr>
            <td>Playlist</td>
            <td>Number of Tracks</td>
            <td>Go To Playlist</td>
          </tr>
        </thead>
        <tbody>
        <% @suggestions_from_decade.each do |playlist| %>
        <tr>
          <td><%= playlist.name %></td>
          <td><%= playlist.tracks["total"] %></td>
          <td>Link to Playlist</td>
        </tr>
        <% end %>
      </tbody>

      </table>
    <% end %>


</div>
